body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ===== TOP BAR ===== */

.top-bar {
    background: #1f2d36;
    color: #ddd;
    font-size: 14px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar span {
    color: #ffae00;
}

.top-bar .social a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* ===== HEADER ===== */

.main-header {
    background: rgba(0, 0, 0, 0.2);
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.nav-menu a,
.nav-menu button {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    color: #333;
    top: 25px;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Background (as in screenshot) */

body {
    background: url('https://via.placeholder.com/1600x400') center/cover no-repeat;
}

/* background area */
.filter-area {
    background: #1f2a2b;   /* dark background */
    padding: 35px 0;
    text-align: center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 24 24" fill="none" stroke="%231a2222" stroke-width="1"><path d="M4 7h16M4 12h16M4 17h16"/></svg>');
    background-repeat: repeat;
    background-size: 200px;
}


.text-box{
    width: 90%;
    color: #333
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size:  14px;
    color: #333 
}
.hearder-part{
    background-image: url('assets/images/heading-bg.jpg');
}
